.search-filter {
    position: fixed;
    width: inherit;
    height: 5vh;
    display: grid;
    justify-items: center;
    background-color: white;
}

.search-filter-searchbar {
    width: 95%;
    border: none;
    border-bottom: 2px solid purple;
    font-size: 18px;
    color: purple;

}
.search-filter-searchbar:focus {
    outline: none;
}