

.studentCard {
  border: 1px solid black;
  display: flex;
  column-gap: 30px;
  align-items: center;
  width:800px;
  font-family: "Raleway";
  /* // height: 150px; */
  
  &_image {
    border-radius: 50%;
    height:70px;
}
 
}

.studentCard_image-container {
  grid-column: 1;
  height:100px;
  width:100px;
  display:grid;
  justify-items:center;
  align-items:center;
  border-radius: 50%;
    border:1px solid black;
 margin-left: 20px;
}

.student-card-info {
  grid-column: 2;
  display:grid;
  grid-template-rows: 1fr 3fr;
  /* // height: 100%; */
  margin-top:15px;
  height: 90%;
  row-gap: 15px;
}
.student-card-name {
  grid-row: 1;
  margin: 0;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
} 

.student-card-info-details {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  margin-left: 15px;
  font-size: 1em;
  
  
}